@{
    ViewData["Title"] = "DNA 3D";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<iframe width="100%;" height="740px;" src="/Home/Embedded3D?filePath=@ViewData["filePath"]">

</iframe>

<div rows="20" cols="120" contenteditable="false">
    <div style="font-family: monospace;">
        @{var first = ViewData["Alignment1"];}
        <label for="Reference">Reference Alignment</label>
        <textarea name="Reference" rows="10" style="display: block; width: 100%;">@first</textarea>
        @{var second = ViewData["Alignment2"];}
        <label for="Pattern">Pattern Alignment</label>
        <textarea name="Pattern" rows="10" style="display: block; width: 100%;">@second</textarea>
        <p>Score: @Convert.ToDouble(ViewData["Score"]).ToString("0.000")%</p>
        @{
            var TotalTime = (TimeSpan)Convert.ChangeType(ViewData["TimeTaken"], typeof(TimeSpan));
        }
        <p>Time taken for the operation since submitting till showing page: </p>
        <ul>
            <li>Days:@(TotalTime.ToString(@"%d"))</li>
            <li>Hours:@(TotalTime.ToString(@"%h"))</li>
            <li>Minutes:@(TotalTime.ToString(@"%m"))</li>
            <li>Seconds:@(TotalTime.ToString(@"%s"))</li>
        </ul>
    </div>
</div>
<p>
    don't forget that whenever you have something important to do, There is also the most important thing in your life: God.
    God created you for behaving well and having a good life while obeying and worshipping allah.
    Thank you for reading!
</p>