@{
    ViewData["Title"] = "Home Page";
    ViewData["IndexActive"] = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content px-5">
          <h2>
            A team of super intelligent medical engineers decided to make
            predicting proteins and checking for illness inside that protein
            easier using modern technology, Together they brought the ease to
            doctors and patients around the world
          </h2>
          <h4>
            If you ever catch something suspicious in your DNA, your friend's
            DNA, or even your dog! you can count on us to discover different
            illnesses from the sequence you provide to us
          </h4>
        </div>

@section Scripts{
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
}